<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title"><b>Python in a Nutshell</b></span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://mate.unipv.it/gualandi" property="cc:attributionName" rel="cc:attributionURL">Stefano Gualandi</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/mathcoding/opt4ds" rel="dct:source">https://github.com/mathcoding/opt4ds</a>.

# 1. Python in a Nutshell
In this first notebook, we will review the basic syntax of Python. The objective of this tutorial is to cover the Python features and libraries that will be useful to write **Integer Linear Programming** models in Python.

This tutorial is targeted to students that have little or no knowledge about Python, but have basic programming experience with Matlab and/or ANSI C. It is not an in-depth tutorial, but it serves as support for an online streaming lecture.

For an overview on how to use the Colab Notebooks, we recommend this [video tutorial](https://www.youtube.com/watch?v=inN8seMm7UI).

### Playing with this notebook
We recommend to try every code snippets, once at the time. You can try to modify any line of code to better understand how the Python interpreter executes each command.

## 1.1 Basic Data Types
Let us start by considering the basic data types used in almost every useful program: *numbers*, *logical values*, and *string*.

### 1.1.1 Numbers
Look at the following code, where we are defining a program variable named `a` to which we assign the value 1. To execute the code either click the "play" icon or press CTRL+ENTER.

In [ ]:
a = 1

In [ ]:
print(a)

In order to check the type of the variable, you can use the `help` function:

In [ ]:
type(a)

By default, the notebook interpreter running a single line of code tries to print a value resulting from evaluating an expression. Note that `a = 1` is an assignment operations, which does not produce a result, and hence the interpreter did not print anything. While `type(a)` is a function invocation that returns the type of the variable `a`, thus printing its value on the screen.

> Please, take the good habit of reading the documentation. 

The function `type` is fully described online a this link: [type](https://docs.python.org/3/library/functions.html#type)

Consider the following two lines:

In [ ]:
a = 1.0
print(type(a))

In this case, the notebook interpreter has recognized at runtime that `1.0` is a floating number, and, as a consequence, the type of `a` is bind to `float`. The Python float is equivalent to a `double` of the C programming language and it has the same precision than the floating numbers in Matlab (i.e., 64 bits).

Note that Python makes also dynamically type inference.

In [ ]:
a = 1.0
b = 1
c = b + a
type(c)

In Python, we have all the basic arithmetic operators:

In [ ]:
a = (3*4)+7//2*7%2
print(a)

Be careful about the `^` operator, which it is not what you likely expect.

In [ ]:
2^3

The `^` operator implements the bit-wise xor logical operator.

### 1.1.2 Logical values
The two logical values are denoted by the reserved keywords `True` and `False`, which are of type `bool`. The logical operators are written in plain English: `and`, `or`, `not`. For example:

In [ ]:
a = True
b = False
a and b

In [ ]:
a or not b

In [ ]:
not a or b

In [ ]:
type(a)

Note that we are reused *on the fly* the variable named `a` several times, dynamically changing its type more than once.

### 1.1.3 Strings
Another very useful data type is **string**, which is nothing else that an ordered sequence of characters.

Example:

In [ ]:
a = "COVID-19"

In [ ]:
print(a)

In [ ]:
a

In [ ]:
type(a)

The type of a string is denoted by `str`. 

The Python string have several useful builtin functions, as for instances:

In [ ]:
print(a.lower(), a.split('-'))

First we have converted a string into lower case with `lower()` function, and then we have split the string using as delimiter the string `-`.

## 1.2 Data Sequences
Python has three powerful builtin data-types to store aggregate data (click on each word the get the online documentation):

1. [`tuple`](https://docs.python.org/3/library/functions.html#func-tuple)
2. [`list`](https://docs.python.org/3/library/functions.html#func-list)
3. [`dictionary`](https://docs.python.org/3/library/functions.html#func-dict)

We best see these three data types into action.

### 1.2.1 Tuple
A **tuple** is an ordered sequence of elements. Each element can be of a different type.

In [ ]:
a = 1, 2 
print(a, type(a))

Above, we have a tuple of two elements (i.e., a **pair**). 

We can use an *unfolding* operation to access the elements of a tuple:

In [ ]:
b, c = a
print(b, c)

We can use the *indexing* operator to access a single element of a tuple (with indices starting from 0, and not from 1 as in Matlab):

In [ ]:
print(a[0], a[1])

A tuple is usually defined using round parenthesis and can have arbitrary length.

In [ ]:
esempiotupla = ("contrario", 3, 2.0, 1, 0, -1)
print("tupla:", esempiotupla, "lunghezza:", len(esempiotupla))
print("tipi:", type(esempiotupla), type(esempiotupla[0]), type(esempiotupla[1]), type(esempiotupla[2]))

Note however that tuple are **reading-only** data types, that is we cannot modify an element of a tuple:

In [ ]:
a[1] = 4

If you need to store a **mutable** ordered sequence of data, you can use a `list` instead of a `tuple`, as we show next.

### 1.2.2 List
A list is mutable ordered sequence of data. It can be used in place of tuples, but with the possibility of adding new elements to the list or to change the value of a single element.

In [ ]:
Ls = [1, 2, 2.5, 2.75, 3, "Stella!"]

In [ ]:
print(Ls)

In [ ]:
print(Ls[2], Ls[-1])
# the negative indices start from the last position

In [ ]:
Ls[4] = 2.99
print(Ls)

In [ ]:
Ls.append('!!!')

In [ ]:
Ls

In [ ]:
# To get the length of a list:
print(len(Ls))

We can sum up two lists:

In [ ]:
As = [1,2,3]
Bs = [4,5,6]
Cs = As + Bs
print(Cs)

In [ ]:
Ds = As + As
print(Ds)

Note that the `addition` operator is implemented as a function that returns a new list containing in order, first, every element of the first list and, later, all those of the second list.

Using the `remove` function, we can remove from a list only the first element.

In [ ]:
Ds.remove(1)
print(Ds)

Since *lists* are ordered sequence of data, we can **indexing** every single element, and we can **slicing** a subset of the elements using the slicing operator, which has the following syntax:

```
Ls[startIndex:endIndex]
```

and is used as follows:

In [ ]:
Ls = [9,8,7,6,5,4,3,2,1]
print(Ls[4:7])

The command has printed the elements from position 4 (indexing start from position 0) to position 6 (just before 7).
The slicing operator has default values equal to `startIndex=0` and `endIndex=<listLength> - 1`.

In [ ]:
print(Ls[:4])  # startIndex is omitted hence is equal to 0
print(Ls[4:])  # endIndex is omitted hence is equal to len(Ls)-1
print(Ls[:])

Lists are ordered sequence of data with no restrictions on the type that each single element can take. The type of each element is determined at runtime by the Python interpreter.

In [ ]:
Ls = [1, 2.0, [1,"tre"]]

In this case, we have a list of three elements: an integer, a float, and a list of two elements (an integer and a string).

By using lists, we can represent a matrix $A\in \mathbb{R}^{m\times n}$ as a list of lists of numbers.

In [ ]:
I = [[1,0,0,0], [0,1,0,0],[0,0,1,0],[0,0,0,1]]   # Identity matrix

In [ ]:
print(I)

In [ ]:
type(I)

In [ ]:
type(I[3])

This way of representing lists has nothing to do with the approach used by Matlab to store matrices. We will see later during this course (in another notebook) a different method based on the [numpy](https://numpy.org/) library for storing vectors and matrices.

### 1.2.3 Dictionaries
The `dictionary` data type is one of the features which has contributed the most to the success of Python.

Dictionaries are unordered sequences of pairs of data, where the first element of each pair is called the `key` and the second element is called the `value`. Conceptually, dictionaries are the equivalent of text dictionary: we use the key (a word) to quickly look for the corresponding value (the formal definition of the key/word).

An intuitive way to think of dictionary is that of a *kind-of-list* that can be indexed by any read-only data type (e.g., `int, float, tuple, string`).

In [ ]:
Ds = dict()  # Create en empty dictionary
print(Ds, type(Ds))

In [ ]:
Ds["star"] = "stella"
Ds["war"] = "guerra"
print(Ds)

In [ ]:
Ds["luke"] = "luca"
print(Ds)

Notice that we have something very similar to a list of pairs.

In [ ]:
print(Ds["luke"])

In [ ]:
print(len(Ds))  # Number of pairs (key, value) contained into the dictionary

Sometime it might be useful to build a dictionary starting from two different lists (but which have the same length). The first is the list of *keys*, the second is the list of *value*. Look at the following snippets:

In [ ]:
As = ["a", "b", "c", "d"]
Bs = [1, 2, 3, 4]
Ds = dict(zip(As, Bs))
print(Ds)

In this example, we have used the builtin function [zip](https://docs.python.org/3/library/functions.html#zip). If it is unclear how the function **zip** works, try to understand it by inspection running the following line

In [ ]:
Ps = list(zip(As, Bs))
print(Ps)

With the function zip, we have constructed a list of pairs, by *zipping* the elements of the two lists in consecutive pairs.

## 1.3 Flow controls
In the previous cells, we have used only small blocks of code with the purpose of showing basic data structures. When writing a simple function or a larger program it is necessary to write statements that control the flow execution. We review here the syntax for the flow control execution available in Python.

### 1.3.1 Conditionals
The first flow control statement is the `if ... then ... else` construct, which has the following syntax>

```
if <logical condition>:
  # Either the first block of code, e.g.:
  print('True')
else:
  # Or execute the second block of code, e.g.:
  print('False')
```
The logical condition can be any logical operation (e.g., $a > 3$) or a function return a logical value. The `else` condition is optional and it can be omitted.

For instance, if we have to check whether a number is even, we can write:

In [ ]:
a = 14
if a % 2 == 0:
  print("Number a={} is EVEN".format(a))
else:
  print("Number a={} is ODD".format(a))

If we need to control several alternatives, we can use one (or more) `elif` conditions.

In [ ]:
if a > 0:
  print("positive")
elif a < 0:
  print("negative")
else:
  print("zero")

### 1.3.2 For Loops
Given a sequence of elements, such as tuples, lists, and dictionaries, we often need to iterate over an element at the time.

The Python syntax for looping trough the elements of a list is

```
for <variable name> in <sequence>:
  # Block of code, e.g.
  print("single loop")
```

The simplest task we can think of is to print an element at the time the elements of a given list.

In [ ]:
Ls = [1, 2.0, "tre", (1,2), ["a,b"], {"x": 1, "y":1}]
for e in Ls:
  print(type(e), "  ", e)

We can loop over any data which represent a sequence, as shown next.

In [ ]:
Ts = ("a","b","c")
for t in Ts:
  print(t)

In [ ]:
virus = "COVID-19"
for c in virus:
  print(c)

In [ ]:
print(Ds)
for key in Ds:
  print("key = {}, value = {}".format(key, Ds[key]))

There are a few cases where it can be useful to know the index of a given element within an ordered sequence. In this case, we can use the [`enumerate`](https://docs.python.org/3/library/functions.html#enumerate) builtin function as follows.

In [ ]:
for i, e in enumerate(Ls):
  print("index = {}, element = {}".format(i,e))

You can see that a list is like a special kind of dictionary where the keys are a sequence of increasing integers starting from zero.

### 1.3.3 While Loops
The syntax for the `while` loop is pretty standard, and once you get used to the Python syntax style, it should be also intuitive:

```
while <conditionIsTrue>:
  <block of code>
```

Which can be used as follows.

In [ ]:
counter = 3
while counter <= 30:
  print(counter)
  counter += 3

As usual with Python:
> PAY ATTENTION TO THE INDENTATION SPACE AT THE BEGINNING OF A LINE

### 1.3.4 Exceptions
An [exception](https://docs.python.org/3/tutorial/errors.html) breaks the normal execution flow of a program in exceptional cases, such as, when encountering unplanned errors.

By running this notebook by your own, you have likely already encountered exceptions, as a way of reporting errors from the Python interpreter.

In [ ]:
p = (1,2)
p[0] = "a"

In this case, the exception was **raised** by some internal function of the Python interpreter. 

In order to control the execution flow of a program, the exceptions can be **caught** using the following syntax:

In [ ]:
try:
  # Block of code that might be raise an exception
  p = (1,2)
  p[0] = "a"
except Exception as e:
  # Block of code executed in case of an exception
  print(e)
  print(type(e))

There are several different type of exceptions in Python, and you should familiarize with those types, in order to identify the errors in yours programs. A complete list of exceptions is available on the official documentation: [Builtin Exceptions](https://docs.python.org/3/library/exceptions.html#bltin-exceptions).

When you are writing your own function (see next section), for example for parsing a text file, you might need to raise an exception whenever an input file does not meet the given specification. 

To raise an exception, the Python syntax is as follow:

```
  raise Exception("<YOUR ERROR MESSAGE>")
```

For instance, if you would like to handle only positive numbers, you can write the following code:

In [ ]:
# NOTE: The purpose of this snippet is only of showing how to raise an exception
a = -1
if a < 0:
  raise Exception("I deal only with positive numbers!")

At this point, as a side effect, it should be also easier to understand the errors encountered when trying to execute a Python program.

## 1.4 Functions
In all the previous paragraphs, we have illustrated the basic data type and the fundamentals statements for controlling the execution flow of a program.

In this section, we review how we can organize our code in small blocks, each block corresponding to a specific function or procedure.

### 1.4.1 Pure Functions
You have to think of computer programming *pure* functions as they were mathematical functions, where the output depends only on the input (we have zero side effects). 

Consider the function of computing hypotenuse of a triangle: $c^2 = a^2 + b^2$. We can write a small **function** that compute the square of the hypotenuse length $c$, given the two values of $a$ and $b$:

In [ ]:
def SquareHypotenuse(a, b):
  c = a**2 + b**2
  return c

In the previous example, we have used the following syntax:

```
def <FunctionName>(<list of formal parameters, comma separated>):
  <block of codes>
```

There are a few points that must be marked:

1. The keyword `def` is reserved and is used to define a function.
2. **FunctionName** is any name you want to use to define your function.
3. The round parenthesis and the colon are mandatory.
4. The **list of formal parameters** is up to you, and it can be of any (reasonable) size.
5. **MOST IMPORTANTLY:** the indentations after the **def** keyword are part of the **semantic** of the construct, and denote the scope of the function.
6. **Function DEFINITION** is different from **Function INVOCATION**. With the previous block, we have defined the function **Hypotenuse**, but we have not yet passed any actual parameters to the function, which could trigger the computation of the *c* value.

If we want to compute the square value of the hypotenuse of a triangle with base equal to 4 and height equal to
3, you have to write:

In [ ]:
b, h = 4, 3  # We are defining and unfolding the pair (4, 5) on the fly
hyp = SquareHypotenuse(b, h)
print(hyp)

Indeed, a large number of mathematical functions are already implemented in Python. For instance, all the basic mathematical functions are implemented in the [math](https://docs.python.org/3/library/math.html?highlight=math#module-math) library.

If you want to import a single function (e.g., the square root function [`sqrt()`](https://docs.python.org/3/library/math.html?highlight=math#math.sqrt), you can write:

In [ ]:
from math import sqrt
print(sqrt(2))

At this point, it should be easy to write a function that compute the actual value of the hypotenuse (and not its square value), by using a function *composition*.

In [ ]:
def Hypotenuse(a, b):
  return sqrt(SquareHypotenuse(a,b))

In [ ]:
print(Hypotenuse(4,3))

Indeed, function can be chained several times.

In [ ]:
c = Hypotenuse(Hypotenuse(3,4), 5+2*SquareHypotenuse(2, sqrt(4)))
print(c)

**QUESTIONS:** Can you figure out the order in which the previous expressions are evaluated in order to compute `c`?

In a function definition, we can also set a default value for any formal parameter, using the following syntax.

In [ ]:
from math import pow
def Power(x, n=3):  # The value 3 is the default for formal parameter "n"
  return x**n

In [ ]:
print(Power(2,5))

In [ ]:
print(Power(3))  # Here, the interpreter uses the default value for the second parameter

### 1.4.2 Procedures
Procedure are like functions, but they do not explicitly return any value.

In [ ]:
def Print(a, b, c=77):
  print("a = {}, b = {}, c = {}".format(a, b, c))

In [ ]:
Print(2,3)

A typical error is to use a procedure as it were a pure function. The syntax is correct, but it is a misuse of the procedure.

In [ ]:
d = Print(a, b)
print(d)

Notice that there is not `return` keyword in the procedure `Print(a, b, c)`. However, in this case, it is like there was a `return None` statement at the end of the procedure definition. For this reason, procedure are also called *void functions*.

In [ ]:
def Print(a, b, c=77):
  print("a = {}, b = {}, c = {}".format(a, b, c))
  return None

In [ ]:
print(Print(1,1,2))

In [ ]:
None

### 1.4.3 Lambda Functions
In some case, we can use anonymous functions, called `lambda functions`. They are mostly used when we need to pass a function as a actual parameter of a formal parameter (see next section).

We can use lambda functions also for one-liner definition of functions.

In [ ]:
F = lambda x: x*x

In [ ]:
print(F(2))

### 1.4.4 Map and Filter
Among the python builtin functions, we like to stress the importance of [map](https://docs.python.org/3/library/functions.html#map) and [filter](https://docs.python.org/3/library/functions.html#filter).

They are high-order functions, that is functions that takes as input other functions.

The `map` function takes as input a function *f* and any data type that is a sequence (an **iterable** to be precise), and it applies the function *f* to every element of the sequence.

The `filter` function takes as input a function *f* and any data type that is a sequence, and it returns a new sequence containing only the elements for which the function *f* returned `True`.

For example:

In [ ]:
Ls = [1, 2, 3, 4, 5]   # String, list, tuple, dictionaries are iterable
for e in map(lambda x: x*x, Ls):
  print(e)

In [ ]:
Ls = [1, 2, 3, 4, 5]   # String, list, tuple, dictionaries are iterable
for e in filter(lambda x: x%2 == 0, Ls):
  print(e)

In case of doubts, you can always use the online documentation, via the `help()` function.

In [ ]:
#help(map)

In [ ]:
#help(filter)

## 1.5 Classes and Objects
In Sections 1.1 and 1.2 we have seen old plain data types (numbers and strings) and structured data types (tuple, list, dictionaries).

In this section, we show how we can define new data types, which can be composed of other data.

### 1.5.1 Syntax
The minimal syntax to define a new type of data is the following:

```
class <NameOfClass>(object):
  def __init__(self):
    self.<nameOfVariable> = <value>
    ...
  def __str__(self):
    s = <convert the data type to a representative string>
    return s
  def __repr__(self):  # This is recommended
    return self.__str__()
```

The term *class* is here a synonym of **type**, and it is used to inform the interpreter that the in the following lines of code we are declaring a new data type. The basic methods that every class should have are:

1. The constructor method `__init__(self)`, which is used to initialize the internal data of the class. The method can take on or more parameters in input, as we will see in the next example.

2. The string conversion method `__str__(self)` that is use to return a string which gives a human readable representation of the actual values of the class attributes.

3. The method `__repr__(self)` is used here as a proxy of `__str__(self)`. It is convenient for printing list of user defined objects.

### 1.5.2 Example: Discrete Distributions in $\mathbb{R}^3$
We have to represent a discrete measure $\mu(X)$ with $X \subseteq \mathbb{R}^3$. Suppose we are given a finite number of $n$ support points $\mathbf{x}_i \subseteq \mathbb{R}^3$ of weight $w_i \in \mathbb{R}$, then we can define the discrete measure:

$$
\delta = \sum_{i = 1}^n w_i \delta(\mathbf{x}_i)
$$


**QUESTION:** How can we define a class for the type **point in $\mathbb{R}^3$**?

**QUESTION:** How can we define a class for the type *discrete measure**?

A point of $\mathbb{R}^3$ can be represented with a tuple of 3 floats with the following class.

In [ ]:
class Point3D(object):
  def __init__(self, x1=0, x2=0, x3=0):
    self.x1 = x1
    self.x2 = x2
    self.x3 = x3
  def __str__(self):
    return "( x1 = {}, x2 = {}, x3 = {} )".format(self.x1, self.x2, self.x3)
  def __repr__(self):
    return self.__str__()

So far, we have just defined a new data type, that is, a new class. Until here, it is like we were declaring a new function. However, as with function we are interested in **applying** a function to given values to get the result value, with a class we are interested in **applying** the class to data to get an **instance** of a class, that is an **object** of the type defined by the corresponding **class**.

To get three objects of type `Point3D`, we can run the following code.

In [ ]:
P1 = Point3D()
P2 = Point3D(1, 1, 1)
P3 = Point3D(x3 = -1)
print(P1)
print(P2)
print(P3)

Suppose we want to create a list of 10 random points where every coordinates takes value in the interval $[0..1]$. We can use the Python [random library](https://docs.python.org/3/library/random.html) as follows.

In [ ]:
from random import random, uniform, seed
Xs = []
for _ in range(10):
  Xs.append(Point3D(random(), random(), random()))
print(Xs)

In [ ]:
for p in Xs:
  print(p)

If we want to generate 10 random weights $w_i$ that sum up to 1, we can run the following code.

In [ ]:
def RandomWeights(n, a=0, b=100):
  Ws = []
  # Generate random points with given Uniform distributions
  for _ in range(n):
    Ws.append(uniform(a, b))
  # Normalize vector
  tot = sum(Ws)
  for i, w in enumerate(Ws):
    Ws[i] = w/tot
  return Ws

In [ ]:
Ws = RandomWeights(10)

In [ ]:
print(Ws)

In [ ]:
for w in Ws:
  print(round(w, 3))

In [ ]:
sum(Ws)

**QUESTION:** How can we compose all the code that we have just seen to define a class of type **DiscreteMeasure**?

A possibility is the following.

In [ ]:
class DiscreteMeasure(object):
  def __init__(self, n, a=0, b=100):
    # Sample 1n random points in R^3
    self.Xs = [Point3D(uniform(a, b), uniform(a, b), uniform(a, b)) for _ in range(n)]
    # Sample a random point of the simplex of dimension n
    Ws = []
    for _ in range(n):
      Ws.append(random())
    tot = sum(Ws)
    for i, w in enumerate(Ws):
      Ws[i] = w/tot
    self.Ws = Ws

  def __str__(self):
    s = "["
    for i, (x, w) in enumerate(zip(self.Xs, self.Ws)):
      s += "w_{} ={}, p_{} = {},\n".format(i, str(w), i, str(x))
    s += ']'
    return s.replace(',\n]',']')

In [ ]:
delta = DiscreteMeasure(5)

In [ ]:
print(delta)

### 1.5.3 Plotting
Finally, we want to plot our discrete distribution on $\mathbb{R}^3$.

For plotting, we will use two libraries in this course: [Matplotlib](https://matplotlib.org/) and [Altair](https://altair-viz.github.io/). The first library is very similar to the Matlab plot function, while the second permit to easily create interactive plots. In this notebook, we use only Matplotlib.

Since you should already have experience with the plotting functions of Matlab, we show directly how to represent our discrete distribution using a [3D scatterplot](https://matplotlib.org/3.2.0/gallery/mplot3d/scatter3d.html).

In [ ]:
# Two random discrete distributions
mu = DiscreteMeasure(40, 10, 30)
nu = DiscreteMeasure(100, 25, 50)

# Import of plot libraries
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
# Create a figure
fig = plt.figure(figsize=(8,6))
ax = Axes3D(fig)
# Scatter plot of first distribution
ax.scatter([p.x1 for p in mu.Xs], 
           [p.x2 for p in mu.Xs],
           [p.x3 for p in mu.Xs],
           s=[(2000*w) for w in mu.Ws],  # Dot size linear with weights value
           color='darkblue', alpha=0.3,  # Set color and transparency
           marker='o')
# Scatter plot of second distribution
ax.scatter([p.x1 for p in nu.Xs], 
           [p.x2 for p in nu.Xs],
           [p.x3 for p in nu.Xs], 
           s=[(2000*w) for w in nu.Ws],  # Dot size linear with weights value
           color='red', alpha=0.3,       # Set color and transparency
           marker='o')
# Labels for axis
ax.set_xlabel('X')
ax.set_ylabel('Y')
ax.set_zlabel('Z')
# Visualize the plot
plt.show()